<!-- <h1>Welcome to angular{{title}} from {{location}}</h1>
<hr>
<div>
    <app-boxa labelValue="location" [data]="location"
    (onBoxDataChange)="onBoxValueChange($event)"></app-boxa>
</div>

<div>
    <app-boxa [data]="location"></app-boxa>
</div>
<div>
    <app-customer-form></app-customer-form>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RT-PCR REGISTRATION FORM</title>
</head>
<body>
    <div class="container">
        <h1>RT-PCR REGISTRATION FORM</h1>
        <form class="tab tab-container" [formGroup]="fg">
          <div class="field">
            <label for="fname">First Name :</label>
            <input type="text" name="fname" id="fname" formControlName="fname" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['fname'].invalid && fg.controls['fname'].touched">*Name Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="lname">Last Name :</label>
            <input type="text" name="lname" id="lname" formControlName="lname" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['lname'].invalid && fg.controls['lname'].touched">*Last Name Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="date-of-birth">Date Of Birth :</label>
            <input type="date" name="dob" id="dob" formControlName="dob" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['dob'].invalid && fg.controls['dob'].touched">*Date Of Birth Is
              Reqiured</small>
          </div>
          <div class="field" id="check-gen">
            <label for="gender">Gender :</label>
            <input type="text" name="gender" id="gender" formControlName="gender" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['gender'].invalid && fg.controls['gender'].touched">*Gender Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="city">City :</label>
            <input type="text" name="city" id="city" formControlName="city" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['city'].invalid && fg.controls['city'].touched">*City Name Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="date-of-test">Date Of Test :</label>
            <input type="date" name="date" id="date" formControlName="date" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['date'].invalid && fg.controls['date'].touched">*Date Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="time-of-test">Time Of Test :</label>
            <input type="time" id="time" formControlName="time" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['time'].invalid && fg.controls['time'].touched">*Time Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="lab">Lab Name :</label>
            <input type="text" name="lab" id="lab" formControlName="lab" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['lab'].invalid && fg.controls['lab'].touched">*Lab Name Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="report">Report Number :</label>
            <input type="text" name="report" id="report" formControlName="report" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['report'].invalid && fg.controls['report'].touched">*Report Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="result">Result :</label>
            <input type="text" name="result" id="result" formControlName="result" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['result'].invalid && fg.controls['result'].touched">*Result Is
              Reqiured</small>
          </div>
          <div class="field">
            <label for="aadhar">Aadhar Numbar :</label>
            <input type="number" name="aadhar" id="aadhar" formControlName="aadhar" required>
          </div>
          <div class="error">
            <small class="text-danger" *ngIf="fg.controls['aadhar'].invalid && fg.controls['aadhar'].touched">*Aadhar Is
              Reqiured</small>
          </div>
          <div class="buttons">
            <button (click)="add()" [disabled]="!fg.valid">Add</button>
          </div>
        </form>
        <div>
          <h2>DATA BASE</h2>
        </div>
        <div class="tab">
          <table id="table">
            <tr>
              <th *ngFor="let column of headers">
                {{column}}
              </th>
            </tr>
            <tr *ngFor="let value of store">
              <td>
                {{ value.fname }}
              </td>
              <td>
                {{ value.lname }}
              </td>
              <td>
                {{ value.dob }}
              </td>
              <td>
                {{ value.gender }}
              </td>
              <td>
                {{ value.city }}
              </td>
              <td>
                {{ value.date }}
              </td>
              <td>
                {{ value.time }}
              </td>
              <td>
                {{ value.lab }}
              </td>
              <td>
                {{ value.report }}
              </td>
              <td>
                {{ value.result }}
              </td>
              <td>
                {{ value.aadhar }}
              </td>
            </tr>
          </table>
        </div>
        <div class="search">
          <input type="text" id="find" (keyup)="removefield()" placeholder="Enter name to search">
          <input type="submit" (click)="search()" id="submit">
          <div id="msg"></div>
        </div>
        <div class="tab">
          <table id="table1">
            <tr>
              <th *ngFor="let column of headers">
                {{column}}
              </th>
            </tr>
            <tr *ngFor="let value of searchvalue" id="tr">
              <td>
                {{ value.fname }}
              </td>
              <td>
                {{ value.lname }}
              </td>
              <td>
                {{ value.dob }}
              </td>
              <td>
                {{ value.gender }}
              </td>
              <td>
                {{ value.city }}
              </td>
              <td>
                {{ value.date }}
              </td>
              <td>
                {{ value.time }}
              </td>
              <td>
                {{ value.lab }}
              </td>
              <td>
                {{ value.report }}
              </td>
              <td>
                {{ value.result }}
              </td>
              <td>
                {{ value.aadhar }}
              </td>
            </tr>
          </table>
        </div>
      </div>
</body>
</html>